<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

### When combined with the stylesheet and images in the output/ directory
### of the Planet source, this gives you a much prettier result than the
### default examples template and demonstrates how to use the config file
### to support things like faces
### 
### For documentation on the more boring template elements, see
### examples/config.ini and examples/index.html.tmpl in the Planet source.

<head>
<title><TMPL_VAR name></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="http://www.pardus.org.tr/styles/stil-planet.css" type="text/css">
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
</head>

<body>
<div id="header-bugzilla">
 <div id="menu">
   <a href="http://www.pardus.org.tr">www.pardus.org.tr</a> &nbsp; | &nbsp;
   <a href="http://hata.pardus.org.tr">hata.pardus.org.tr</a> &nbsp; | &nbsp;
   <a href="http://developer.pardus.org.tr">developer.pardus.org.tr</a>
 </div>
</div>
<div id="oplanet">
<!-- <h1><TMPL_VAR name></h1> -->

<TMPL_LOOP Items>
<TMPL_IF new_date>
<h2><TMPL_VAR new_date></h2>
</TMPL_IF>

<TMPL_IF new_channel>

### Planet provides template variables for *all* configuration options for
### the channel (and defaults), even if it doesn't know about them.  We
### exploit this here to add hackergotchi faces to our channels.  Planet
### doesn't know about the "face", "facewidth" and "faceheight" configuration
### variables, but makes them available to us anyway.
<h3><a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_VAR channel_name></a></h3>
<TMPL_IF channel_face>
<img class="face" src="<TMPL_VAR channel_face ESCAPE="HTML">" width="<TMPL_VAR channel_facewidth ESCAPE="HTML">" height="<TMPL_VAR channel_height ESCAPE="HTML">"> 
<TMPL_ELSE>
<img class="face" src="http://gezegen.pardus.org.tr/img/pardus.png" width="<TMPL_VAR channel_facewidth ESCAPE="HTML">" height="<TMPL_VAR channel_height ESCAPE="HTML">">
</TMPL_IF>
</TMPL_IF>


<TMPL_IF title>
<h4><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h4>
</TMPL_IF>
<div class="entry">
<p>
<TMPL_VAR content>
</p>
<p class="date">
<a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_IF creator>by <TMPL_VAR creator> at </TMPL_IF><TMPL_VAR date></a>
</p>
</div>
</TMPL_LOOP>


<div class="sidebar">

<h2>Pardus Dünyası</h2>
<p>
Pardus Dünyası, <a href="http://www.pardus.org.tr">Pardus</a> geliştiricilerinin web günlüklerini bir araya getirmektedir. <a href="rss20.xml">RSS 2.0</a>
</p>

<h2>Yazarlar</h2>
<ul>
<TMPL_LOOP Channels>
<li><a href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title ESCAPE="HTML">"><TMPL_VAR name></a> <a href="<TMPL_VAR url ESCAPE="HTML">">(feed)</a></li>
</TMPL_LOOP>
</ul>

<h2>Diğerleri</h2>
<ul>
 <li><a href="http://www.ozgurlukicin.com/gezegen/">Özgürlükiçin Gezegeni</a></li>
 <li><a href="http://gezegen.linux.org.tr">Linux Gezegeni</a></li>
 <li><a href="http://www.planetkde.org">Planet KDE</a></li>
 <li><a href="http://planet.gnome.org">Planet Gnome</a></li>
 <li><a href="http://planet.debian.org">Planet Debian</a></li>
 <li><a href="http://planet.python.org">Planet Python</a></li>
 <li><a href="http://planet.gentoo.org">Planet Gentoo</a></li>
 <li><a href="http://www.go-mono.com/monologue/">MONOlogue</a></li>
 <li><a href="http://planet.lisp.org">Planet LISP</a></li>
 <li><a href="http://planet.perl.org">Planet Perl</a></li>
</ul>


<p>
<!--
<strong>Last updated:</strong><br>
<TMPL_VAR date><br>
<em>All times are UTC.</em><br>
</p>
-->

</div>
</html>
